:root {
  color-scheme: dark only;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container .loader {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
  animation: rotate infinite 1s;
}

.container .loader:nth-child(1) {
  background-color: red;
}
.container .loader:nth-child(2) {
  background-color: orange;
}
.container .loader:nth-child(3) {
  background-color: blue;
}

@keyframes rotate {
  to {
    transform: rotate(-45deg);
  }

  from {
    transform: rotate(45deg);
  }
}
